nav li {
    list-style: none;
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
}


.dropdown {
    display: none;
    position: absolute;
    background-color: orange;
    padding: 0px;
    margin: 0px;
}

.drop:hover>ul {
    display: block;
}

.dropdown li {
    padding: 5px;
}